.header-menu
	display flex
	font-family Montserrat
	font-size .875rem
	font-weight 400
	text-transform uppercase
	cursor pointer
	color #e8e8e8
	align-items center

	&__icon
		margin-left 18px
		display inline-block
		sprite $menu_icon
